<b><center><h1>{{viewTitle}}</h1></center></b>


<form action="/product" autocomplete="off " method="POST">
     <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group  col-md-5">
        <label><b>Product Name</b></label>
        <input type= "text" class ="form-control" name="ProductName" value="{{product.ProductName}}"placeholder="Product Name">
        <div class="text-danger">
            {{employee.ProductNameError}}</div>
    </div>

    <div class="form-group  col-md-5">
        <label><b>Product Price</b></label>
        <input type="text" class ="form-control" value="{{product.ProductPrice}}"  name="ProductPrice" placeholder="Product Price ">
        
    </div>

    <div class="form-group  col-md-5">
        <label><b>Product ID</b></label>
        <input type="text" class ="form-control" value="{{product.ProductId}}" name="ProductId" placeholder="Product Id">
        <div class="text-danger">
            {{employee.ProductIdError}}</div>
    </div>

     <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/product/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>